<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uas.uas">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Gogocash"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppThemeRegist">
        <activity android:name=".InvoicepulsaActivity"></activity>
        <activity android:name=".InvoicedataActivity" />
        <activity android:name=".PercobaanActivity" />
        <activity android:name=".InvoicegamesActivity" />
        <activity android:name=".InvoiceActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity
            android:name=".DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppThemeRegist.NoActionBar" />
        <activity android:name=".NotesActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppThemeLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity" />
        <activity android:name=".EditorActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".activity.IndihomeActivity" />
        <activity android:name=".activity.AirActivity" />
        <activity android:name=".activity.ListrikActivity" />
        <activity android:name=".activity.GamesActivity" />
        <activity android:name=".activity.DataActivity" />
        <activity android:name=".activity.PulsaActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppThemeRegist" />
    </application>

</manifest>